{% extends 'datahub/base.html' %}


{% block title %}
    Update Photo | Hello Highway Police
{% endblock title %}

{% block content %}

<div class="flex items-center justify-center p-12">

     
    <div class="mx-auto w-full max-w-[550px] bg-white">
        <h2 style="text-align: center; font-size: 28px;" class="font-bold my-3">Update Photo</h2>
      <form
        class="py-6 px-9"
        method="POST"
        enctype="multipart/form-data"
      >
      {% csrf_token %}
        <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
            <img src="{{e.image.url}}" style="max-width: 400px;">
        </div>
        <div class="mb-5">
          <label
            for="file"
            class="mb-3 block text-base font-medium text-[#07074D]"
          >
            Change Photo (File):
          </label>
          <input required
            type="file"
            name="file"
            id="file"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
        </div>
        
  
        <div>
          <button
            class="hover:shadow-form w-full hover:bg-blue-800 hover:text-white rounded-md bg-green-400 py-3 px-8 text-center text-base font-bold text-black outline-none"
          >
            Update Photo
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}